.env
firebase/marbles-dcc42-cred.json
secrets/

ignore/

build/
dist/
tkGUI.spec

__pycache__/
backendTools/__pycache__/
tkTools/__pycache__/
uiTools/__pycache__/
uiTools/Assets/__pycache__/
uiTools/Util/__pycache__/

firebase/__pycache__/

saved_points_real.json